[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
matchmock = "*"
pyhamcrest = "*"
pytest = "*"
pytest-mock = "*"
ruff = "*"

[requires]
python_version = "3.10"

[scripts]
style-check = "ruff check ."
kleptomanioc = "python -m src"
unit-test = "pytest test/unit"
